

/* 
    2. Your CSS should have styles for each of the following elements:
   V Body
        * font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        * color: '#777'
        * background: '#777'
        * width: '960px'
        * font-size: '18px'
   V Header, Nav, Section, Aside, and Footer
        * background: '#ebebeb'
    V Article
        * color: '#ebebeb',
        * background: '#777'
    * h1 and p
        * color: '#777',
        * background: '#ebebeb'
    3. The width of the section should be:
    * section: 495px

    CLASS LIST
header
nav
section
article
aside
footer
 */


 .header, .nav, .section, .aside, .footer {
     background-color: #ebebeb;
 }

 body{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    /* background: #777;  */
    width: 960px;
    font-size: 18px;
    background-color:#777;
    text-align: center;
} 
h1, h2, h3, p{
    color :#777; 
    /* color: crimson; */
    background: #ebebeb;
   
   }
/* ~~~~~~~~~~specific single elements below this line~~~~~~~~ */
h1, h2, h3, h4, h5{
    margin: 0;
    /* need to check if space should be there after h5 */
}

 .header { 
    position: absolute;
    top: 18px;
    left: 12.5%;
    width: 75%; 
    padding-bottom: 12px;
    padding-top: 12px;
           
        /* padding-bottom: 20px; */
}

 .nav{
    position: absolute;
    top: 72px;
    left: 12.5%;
    width: 75%;
    padding: 6px, 0px, 12px;
    padding-bottom: 12px;
    padding-top: 12px;

 }




.section{
    /* display: inline-block; */
    position: absolute;
    top: 128px;
    left: 12.5%;
    width: 40%;
    padding: 2%;

}

.article{
    /* background-color: #ebebeb;
    color: #777; */
    /* commented out formating that we were told to do */
    background-color: #777;
    color: #ebebeb;
    /* background-color:blue; */
/* obviously background needs to be tweaked to be around the words... somehow */
    padding: 4%;
    margin: 2%;

}
.aside{
    width: 25%;
position: absolute;
/* left: 40%; */
/* THIS NEEDS TO BE TO THE RIGHT OF SECTION */
right: 12.5%;
top: 128px;
height:304px;
padding:2%
/* google says that dynamically settign hieght to the other element is a JS code thing */
}

.footer{
    position: absolute;
    bottom: 425px;
    left: 12.5%;
    width:75%;
    padding-bottom: 25px;

}

